<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--  <link rel="shortcut icon" href="/static/ico/favicon.png"> -->

        <title>Game</title>

        <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>

        <!-- Custom styles for this template -->
        <link href="/static/css/homepage-template.css" rel="stylesheet">
   
        <style type="text/css">
          #palette {
            width: 40px;
            height: 40px;
            border: 2px black solid;
          }
        </style>
    </head>

    <body onload=init()>
        <div class="container">
          <div id="join">
              <form id="nf" onSubmit="join_game()"; action="javascript:return false;">
              <input type="text" class="form-control" id="nameform"
                      style="display:inline-block;width:20em;text-align:center" id="player_name" placeholder="Enter Your Name" />
            </form>
          </div>
          <canvas id=canvas width="800" height="600" style="border: 2px black solid;display:none;"></canvas>
          <div id="chat">
              <div id="chat-output">a</div>
              <div id="chat-input">
                <form id="chatf" onSubmit="post_chat()" action="javascript:return false;">
                    <input type="text" class="form-control" id="chatform"
                           style="width:20em;text-align:center" id="player_name" placeholder="Take a guess" />
                   
                </form>
              </div>
          </div>
          <div id="errata">
              <span id="debug"></span>
              <span id="countdown">　 </span>
          </div>
          <table>
          <tr>
            <td>
              <div id=palette style="background:black;" onclick=canvas.setColour("black")></div>
            </td>
            <td>
              <div id=palette style="background:white;" onclick=canvas.setColour("white")></div>
            </td>
            <td>
              <div id=palette style="background:green;" onclick=canvas.setColour("green")></div>
            </td>
            <td>
              <div id=palette style="background:blue;" onclick=canvas.setColour("blue")></div>
            </td>
            <td>
              <div id=palette style="background:pink;" onclick=canvas.setColour("pink")></div>
            </td>
            <td>
              <div id=palette style="background:purple;" onclick=canvas.setColour("purple")></div>
            </td>
            <td>
              <div id=palette style="background:red;" onclick=canvas.setColour("red")></div>
            </td>
            <td>
              <div id=palette style="background:yellow;" onclick=canvas.setColour("yellow")></div>
            </td>
          </tr>
          <tr>
            <td>
              <div><a href="#" onclick=canvas.setStrokeWidth(2)>TINY</a></div>
            </td>
            <td>
              <div><a href="#" onclick=canvas.setStrokeWidth(10)>MEDIUM</a></div>
            </td>
            <td>
              <div><a href="#" onclick=canvas.setStrokeWidth(20)>LARGE</a></div>
            </td>
            <td>
              <div><a href="#" onclick=canvas.setStrokeWidth(50)>HUGE</a></div>
            </td>

          </tr>
          </table>
        </div><!-- /.container -->


        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/socket.io.min.js"></script>
        <script src="/static/js/game.js"></script>
        <script src="/static/js/canvas.js"></script>
        <script src="/static/js/network.js"></script>
    </body>
</html>

