body {
  padding-top: 50px;
}
#join {
    width: 800px;
    height: 600px;
    padding-top: 300px;
    border: 2px solid black;
    float: left;
}

#canvas {
    float: left;
}

#nameform {
    margin-left: 250px;
    margin-right: auto;
}

#chat {
    width: 300px;
    float: right;
    height: 600px;
    border: 2px solid #DDDDDD;
}

#nicks {
  width: 200px;
  float: right;
  border: 2px solid black;
}

#chat-output {
    height: 550px;
    overflow: scroll;
}

#chatf {
    top: 550px;
    bottom: 0;
}

.palette {
    width: 50px;
    height: 50px;
}

#toolbox {
    position: absolute;
    top: 50px;
    left:50px;
    width: 50px;
    max-width: 100px;
    height: 600px;
    overflow: hidden;
    border: 1px solid #EEEEEE;
}
